[project]
	description = Some coding exercises
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BobbyHo
[access "refs/for/refs/*"]
	read = group user/BobbyHo
	push = group user/BobbyHo
	label-Code-Review = -2..+2 group user/BobbyHo
	label-Verified = -1..+1 group user/BobbyHo
	rebase = group user/BobbyHo
	removeReviewer = group user/BobbyHo
	submit = group user/BobbyHo
[access "refs/heads/*"]
	read = group user/BobbyHo
	create = group user/BobbyHo
	push = +force group user/BobbyHo
	pushMerge = group user/BobbyHo
[access "refs/tags/*"]
	push = +force group user/BobbyHo
	pushTag = group user/BobbyHo
	pushSignedTag = group user/BobbyHo
